<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF=8">
	<title>Park Smart</title>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
	<!-- <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCrxhYzFUu_gd2PvrYLYOHinmzuIEh3dFM"></script> -->
    
    <!-- <script type="text/javascript">
        var markers = [];
        var locations = [{{init_points[0]|tojson}}];
        var new_location = {{init_points[0]|tojson}};
        var destination_coords = {{init_points[1]|tojson}};
        var steps_remaining = {{steps_remaining}};
        var time = "{{time}}"; 
        </script> -->
        <style>
                /* Set the size of the div element that contains the map */
               #map {
                 height: 50vh;  /* The height is 400 pixels */
                 width: 100%;  /* The width is the width of the web page */
                }
        </style>
</head>


<!-- <body onload="initMap()"> -->
<body onload="">
    <!-- <button id="btnaddmarker" onclick="doFunction();" >next point</button> -->
    <div class="container">
        <h2>Traveling from: {{departure}} </h2>
            <!-- <br>
            <br> -->
        <h2>To: {{destination}} </h2>    
            <!-- <br>
            <br> -->
        <h2>Time: {{time}}</h2>
        <!-- <div id='map_plot' style="width:100%; height:400px;"></div>
        <BR>
        <div id='logger'></div> -->
        <!-- <h2>Origin: {{init_points[0]}}</h2>
        <h2>Dest: {{init_points[1]}}</h2> -->

    </div>

    <div class="container">
            <p>Origin Coordinates: {{init_points[0]}}</p>
            <p>Destination Coordinates: {{init_points[1]}}</p>
            <h4>We found parking at: {{parking_loc_list}}</h4>
            <h3><a href={{gmap_url}}>
                Open Directions in Google Maps </a></h3>
            <br>
        </div>

    <!--  -->

    <!--The div element for the map -->
    <div id="map"></div>
    <script>
        // Initialize and add the map
        function initMap() {
            // The location of destination
            var parking_coords = {lat: {{parking_loc_list[0][0]}}, lng: {{parking_loc_list[0][1]}}};
            var dest = {lat: {{init_points[1][0]}}, lng: {{init_points[1][1]}}};

            // var parking = {lat: -25.344, lng: 131.036};
            // The map, centered at destination
            var map = new google.maps.Map(
                document.getElementById('map'), {zoom: 14, center: dest});

            // The markers, positioned at dest and parking
            var dest_marker = new google.maps.Marker({position: dest, map: map, label: 'D'});
            var parking_marker = new google.maps.Marker({position: parking_coords, map: map, label: 'P'});

            
            var locations = {{parking_loc_list}};

            // var markers = locations.map(function(location) {
            //     return new google.maps.Marker({
            // position: {lat: location[0], lng: location[1]}, );
            //     , map: map});

            // for (i = 0; i < parking_loc_list.length; i++) { 
            //     var dest = {lat: {{init_points[1][0]}}, lng: {{init_points[1][1]}}};
            //     var marker = new google.maps.Marker({position: dest, map: map});
            // }
        }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCrxhYzFUu_gd2PvrYLYOHinmzuIEh3dFM&callback=initMap">
    </script>
    
    </body>
</html>